# .env.example (GitHubに公開する用)
DATABASE_URL="postgresql://neondb_owner:npg_MO5l1mIaEJYu@ep-polished-credit-ah3rdnhp-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="openssl rand -base64 32"
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_ORIGIN="http://localhost:3000"
ADMIN_EMAIL="tsukimaru.hobby@gmail"
